fastapi
uvicorn
pandas
scikit-learn
faiss-cpu
python-dotenv
google-cloud-storage
boto3

# ML
xgboost
joblib

# LangChain / embeddings
langchain
langchain-community
sentence-transformers

# Gemini
google-generativeai

# Presidio (fixed version)
presidio_analyzer==2.2.359
presidio_anonymizer==2.2.359